*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #ecebda;
    display: grid;
    height: 100vh;
    place-content: center;
    margin: 0;
    overflow: hidden;

    &:before{
        content: '';
        position: absolute;
        left: 12%;
        top: 0;
        height: 100vh;
        border-left: 1px solid rgba(0,0,0,.2);
    }
}

// .container {
//     margin-left: -50%;
// }

.title{
    font-family: 'Six Caps', sans-serif;
    font-size: 10rem;
    line-height: 10.5rem;
    pointer-events: none;
    position: relative;
}